# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (CRITICAL: Do not commit API Keys)
.env

# Virtual Environments
venv/
env/

# IDE files
.vscode/
.idea/

# Project Specific
backend/assets/temp/
backend/__pycache__/
backend/services/__pycache__/
